docker run -d --name pihole -p 53:53/tcp -p 53:53/udp -p 80:80 -p 443:443 -e TZ="Europe/Dublin" -v ~/docker/DockerVol/pihole/etc-pihole/:/etc/pihole/ -v ~/docker/DockerVol/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/ --dns=127.0.0.1 --dns=8.8.8.8  --restart=unless-stopped  --hostname pi.hole -e VIRTUAL_HOST="pi.hole" -e PROXY_LOCATION="pi.hole" -e ServerIP="127.0.0.1" pihole/pihole:latest
sudo docker run -d -p 9000:9000 --name=portainer --restart=always -v /var/run/docker.sock:/var/run/docker.sock -v portainer_data:/data portainer/portainer-ce:linux-arm
docker run -d --name telegraf --restart=unless-stopped -v ~/docker/DockerVol/telegraf/:/etc/telegraf/:ro telegraf

docker run -it -p 1880:1880 -v ~/docker/DockerVol/nodereddata:/data --name mynodered nodered/node-red

docker run -p 1880:1880 -v node_red_data:/data --name nodered nodered/node-red:lates

docker run -p 1880:1880 -v ~/docker/DockerVol/docker/DockerVol/node_red_data:/data --name nodered nodered/node-red:latest


telegraf:
    container_name: telegraf
    image: telegraf
    restart: unless-stopped
    volumes:
    - ./services/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
    - influxdb
    - mosquitto


## when wifi dont start protperly 

    The clean fixed I did, was to edit the dhcpcd.service and adding a docker dependencies to wait for docker.service to run before dhcpcd service

it looks like

sudo nano /lib/systemd/system/dhcpcd.service
then change the [Unit] block as below (by dropping the Before=network.target

[Unit]
Description=dhcpcd on all interfaces
Wants=network.target docker.service
After=docker.service
Share
Improve this answer
Follow